# app
APP_PORT=8000
FLASK_SECRET_KEY=please-change-to-a-random-long-string
ACCESS_PASSWORD=请改成你的口令
SESSION_DAYS=1

# persistent dirs on server host
DATA_DIR=/opt/yqlog/data
UPLOADS_DIR=/opt/yqlog/uploads
